<header class="header">
  <div class="o-centered">
    <div class="header__hamb" [ngClass]="{'active': menuOpened}" (click)="changeMenuState()"></div>
    <nav class="header__nav" [ngClass]="{'active': menuOpened}">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/how-to">How-to</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/auth-users">Auth Users</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/company/add">Create Account</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/company/login">Get API key</a></li>
        <li><a routerLink="/info">Project Information</a></li>
        <li><a href="https://picnicauth.gear.host/swagger/ui/index">API Documentation</a></li>
      </ul>
    </nav>
  </div>
</header>
