<div class="o-content-wrapper">
  <div class="o-centered">
    <div class="info">
      <h1 class="o-title o-title--underline">Project Information</h1>
      <div class="info__list">
        <div class="info__item">
          <span class="info__label">Repository:</span>
          <span class="info__value"><a class="info__link" href="https://github.com/matishadow/PicnicAuth/">Click Me!</a></span>
        </div>
        <div class="info__item">
          <span class="info__label">Libraries:</span>
          <span class="info__value"><a class="info__link" href="https://github.com/matishadow/PicnicAuthLibs">Click Me!</a></span>
        </div>
        <div class="info__item">
          <span class="info__label">Thesis:</span>
          <span class="info__value"><a class="info__link" href="https://github.com/matishadow/PicnicAuthThesis/blob/master/PicnicAuthThesis.pdf">Click Me!</a></span>
        </div>

        <br /><br />
        <h3 class="o-ordlist">
          Libraries status:
        </h3>
        <ul class="contains-task-list" style="list-style: none; color:#fff">
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> C</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Cpp</li>
          <li class="task-list-item enabled"><input disabled checked="" class="task-list-item-checkbox" id="" type="checkbox"> C#</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Clojure</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> D</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Elixir</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Erlang</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Groovy</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Java</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> JavaScript</li>
          <li class="task-list-item enabled"><input disabled checked="" class="task-list-item-checkbox" id="" type="checkbox"> TypeScript</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Kotlin</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Nim</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Objective-C</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Perl</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> PHP</li>
          <li class="task-list-item enabled"><input disabled checked="" class="task-list-item-checkbox" id="" type="checkbox"> Python 2.7</li>
          <li class="task-list-item enabled"><input disabled checked="" class="task-list-item-checkbox" id="" type="checkbox"> Python 3.6</li>
          <li class="task-list-item enabled"><input disabled checked="" class="task-list-item-checkbox" id="" type="checkbox"> Ruby</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Scala</li>
          <li class="task-list-item enabled"><input disabled class="task-list-item-checkbox" id="" type="checkbox"> Swift</li>
          <li class="task-list-item enabled"><input disabled checked="" class="task-list-item-checkbox" id="" type="checkbox"> Visual Basic</li>
        </ul>

      </div>
    </div>
  </div>
</div>
