<div class="o-content-wrapper">
  <div class="o-form">
    <span class="o-title o-title--underline">How-to</span>
    <div class="o-ordlist">
      <ol>
        <li> Create a new company account.</li>
        <li> Get API key.</li>
        <li> Pick a client library in your favourite language.</li>
        <li> Enter API key there.</li>
        <li> When your user wants to enable 2-factor authentication add him as an AuthUser.</li>
        <li> Show QR code (inside there is user's secret) to you user.</li>
        <li> User scans his QR code with Google Authenticator or Auth or some other 2-fa mobile app.
        <li> From now on when user wants to log (or do some other authenticated action) demand otp along with normal password.</li>
        <li> Validate OTP provided by user.</li>
      </ol>
    </div>
  </div>
</div>


